@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;700;900&display=swap');
:root {
    --fireopal: #f1faee;
}

body {
    font-family: 'Nunito', Arial, Sans-serif;
    background-color: #e5e5e5;
}
nav {
    background: #fca311;
    text-align: center;
    padding: 2vh;
    font-size: 2em;
    margin-bottom: 30px;
}

nav h1, body {
    margin: 0;
}

nav h1 {
    font-weight: 900;
    color: #000000;
}

nav button {
    font-size: 0.7em;
    padding: 10px 15px;
    margin: 15px 0;
    /* border: none; */
    border-radius: 15px;
    background: #ffffff;
    font-family: inherit;
    font-weight: 500;
    /* color: white; */
}

#books-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    width: 95vw;
    gap: 30px;
    margin: 15px auto;
}

.book {
    border: 5px solid #14213d;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
    padding: 5vh;
    width: 20vw;
    height: 300px;
    /* box-shadow: 5px 5px 5px rgb(173, 173, 173); */
    transition: 0.2s;
}

.book:hover {
    /* box-shadow: 5px 5px 5px rgb(112, 112, 112); */
    background-color: #14213d;
    /* border: 5px dashed #14213d; */
    color: #ffffff;
    transition: 0.2s;
}

