@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;500;700;900&display=swap');
:root {
    --fireopal: #f1faee;
}

body {
    font-family: 'Nunito', Arial, Sans-serif;
    background-color: #e5e5e5;
}
nav {
    background: #F2542D;
    text-align: center;
    padding: 2vh;
    font-size: 2em;
    margin-bottom: 30px;
    color: white;
}

nav h1, body {
    margin: 0;
}

nav h1 {
    font-weight: 900;
    text-shadow: 5px 5px #14213d;
}

#books-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    width: 85vw;
    gap: 30px;
    margin: 15px auto;
}

.book {
    display: flex;
    flex-direction: column;
    border: 5px solid #14213d;
    border-radius: 15px;
    box-sizing: border-box;
    text-align: center;
    padding: 5vh;
    width: auto;
    white-space: nowrap;
    /* box-shadow: 5px 5px 5px rgb(173, 173, 173); */
    background-color: white;
}

.book h3 {
    /* height: 400px; */
}


button {
    font-size: 22px;
    padding: 10px 15px;
    margin: 15px 0;
    border: none;
    border-radius: 15px;
    font-family: inherit;
    font-weight: 500;
    transition: 0.2s;
    /* color: white; */
}

button:hover {
    background-color: #14213d;
    color: #ffffff;
    transition: 0.2s;
}

button:focus {
    border: none;
}

.read {
    background-color: #1fb15b;
    color: white;
}

.read:hover {
    background-color: #14723b;
}

.notRead {
    background-color: #db4a4a;
    color: white;
}

.notRead:hover {
    background-color: #942424;
    
}

